*.afdesign
*.appkeys
*.iml
*.jks
*.key
*.pem
*.prof
*.secret
*.tokens
.DS_Store
.coverprofile
.dropbox
/.idea
/build
/dist
/resources/keys/toolbox.appkeys
/resources/keys/toolbox.appkeys.secret
/resources/release/build/info.json
/test/dev
/test/results
/docs/.jekyll-cache