-X github.com/watermint/toolbox/infra.DropboxFullAppKey=
-X github.com/watermint/toolbox/infra.DropboxFullAppSecret=
-X github.com/watermint/toolbox/infra.BusinessInfoAppKey=
-X github.com/watermint/toolbox/infra.BusinessInfoAppSecret=
-X github.com/watermint/toolbox/infra.BusinessFileAppKey=
-X github.com/watermint/toolbox/infra.BusinessFileAppSecret=
-X github.com/watermint/toolbox/infra.BusinessManagementAppKey=
-X github.com/watermint/toolbox/infra.BusinessManagementAppSecret=
