{{define "title"}}Job: {{.Recipe}} {{end}}

{{define "content"}}
    {{$recipe := .Recipe}}
    {{$jobId := .JobId}}
    <div class="container text-left">
        <h1>{{$recipe}}</h1>
    </div>
    <div class="container text-left" id="job_log">
    </div>
    <script type="application/javascript">
        function refresh() {
            $.get({
                url: '/job/{{$recipe}}/{{$jobId}}',
                dataType: 'html',
                success: function (content) {
                    $('#job_log').html(content);
                },
            });
        }

        $(function () {
            refresh();
        });
    </script>
{{end}}
