{{define "title"}}{{.Recipe}}: Connect{{end}}

{{define "content"}}
    <div class="text-center">
        <h1 class="display-1 mb-5">{{.Recipe}}</h1>

        <h2 class="mb-5">Connect</h2>

        <div class="container col-md-6">
            <div class="alert alert-info text-left" role="alert">
                <h4>{{.CurrentConnTypeHeader}}</h4>
                {{.CurrentConnTypeDetail}}
            </div>

            {{ $desc := .ExistingConnDesc }}
            {{ $suppl := .ExistingConnSuppl }}
            {{range $peerName := .ExistingConns}}
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title">{{index $desc $peerName}}</h3>
                        <p class="card-text">{{index $suppl $peerName}}</p>
                        <form action="">

                        </form>
                        <a class="btn btn-primary" href="">Next</a>
                    </div>
                </div>
            {{end}}

            <button id="newConnection" type="button" class="btn btn-lg btn-block btn-secondary">New connection</button>
            <script>
                $("#newConnection").click(function () {
                    uri = "/connect/start?command={{.Recipe}}&tokenType={{.CurrentConnType}}";
                    window.open(uri, "newConnection")
                })
            </script>
        </div>
    </div>
{{end}}
