{
  "dropbox_individual.key":"",
  "dropbox_individual.secret":"",
  "dropbox_team.key":"",
  "dropbox_team.secret":"",
  "google_mail.key":"",
  "google_mail.secret":"",
  "google_calendar.key":"",
  "google_calendar.secret":"",
  "google_sheets.key":"",
  "google_sheets.secret":"",
  "google_translate.key":"",
  "google_translate.secret":"",
  "github.key":"",
  "github.secret":"",
  "asana.key":"",
  "asana.secret":"",
  "slack.key":"",
  "slack.secret":"",
  "figma.key":"",
  "figma.secret":""
}
