class Toolbox < Formula
  desc "The multi-purpose utility command-line tool for web services including Dropbox, Dropbox Business, Google, GitHub, etc."
  homepage "https://github.com/watermint/toolbox"
  url "{{.DownloadUrl}}"
  sha256 "{{.Sha256}}"

  def install
    bin.install "tbx"
  end
end